{% extends 'base.html' %}
{% load static %}
{% block title %}Quem Somos | Drogaria Paiva{% endblock %}

{% block content %}
    <div class="container py-5">
        <section class="intro mb-4">
            <h2>Nossa História</h2>
        </section>

        <section class="history">
            <p>
                A <strong>DROGARIA PAIVA</strong> surgiu em abril de 1990, em Natal, capital do Rio Grande do Norte, com o conceito de excelência na prestação de
                serviços farmacêuticos. Seu idealizador, <strong>Jairo Augusto de Paiva</strong>, trouxe da área de informática a experiência em gestão e processos
                empresariais e foi um dos primeiros empresários potiguares a introduzir no mercado local, formatos empresariais que hoje são
                amplamente difundidos em todo o país, superando as expectativas e inovando no mercado.
            </p>

            <p>
                Dedicação, respeito ao usuário e à prescrição médica, além do maior e mais confiável portfólio de produtos farmacêuticos, fizeram a
                <strong>DROGARIA PAIVA</strong> ser reconhecida no estado. A empresa tem como filosofia a valorização do ser humano, o respeito ao cliente e a
                constante busca pela melhoria dos serviços prestados. Essa forma de atuar fez com que o público se identificasse e criasse uma
                relação de confiança com a marca.
            </p>

            <p>
                A observação das mudanças do mercado e a agregação de um DNA próprio fizeram surgir também a <strong>NATUVIDA</strong> (primeira loja exclusiva na
                comercialização de produtos naturais de Natal), uma iniciativa da família Paiva que tem sido um verdadeiro sucesso entre os
                adeptos de hábitos de vida saudáveis. Essa experiência diversificou o grupo e aumentou a percepção de mercado da
                <strong>DROGARIA PAIVA</strong>, permitindo a ampliação do conceito de mix, atendimento, e adequação à nova consciência de consumo e saúde.
            </p>

            <p>
                Hoje são consultórios com serviços farmacêuticos e equipe treinada com qualidade e sempre sob supervisão de um farmacêutico.
                Esses diferenciais transformam o grupo <strong>DROGARIA PAIVA</strong> em uma referência no mercado, e o reconhecimento do público só cresce a
                cada dia. A empresa tem se destacado pela seriedade e por estar sempre em sintonia com as necessidades e desafios do setor.
            </p>

            <p>
                “O alto reconhecimento só aumenta a nossa responsabilidade, comprometimento e dedicação”, garante <strong>Jairo Augusto de Paiva</strong>.
            </p>
        </section>

        <section class="objectives mt-4">
            <h3>Objetivos</h3>

            <div class="row mt-4 objetivos-container">
                <!-- MISSÃO -->
                <div class="col-md-4">
                    <div class="mvv-item">
                        <h4><i class="bi bi-mortarboard-fill"></i> MISSÃO</h4>
                        <p>
                            Oferecer produtos, serviços e soluções em saúde e bem-estar com o compromisso de sempre atender
                            com excelência a necessidade de quem busca uma de nossas unidades, promovendo seu equilíbrio físico
                            e mental. Nossa razão de existir é proporcionar qualidade de vida sempre seguindo o alinhamento da
                            identidade organizacional da empresa, que visa inovar com seriedade auxiliando no desenvolvimento da
                            sociedade na qual estamos inseridos.
                        </p>
                    </div>
                </div>

                <!-- VISÃO -->
                <div class="col-md-4">
                    <div class="mvv-item">
                        <h4><i class="bi bi-eye-fill"></i> VISÃO</h4>
                        <p>
                            Ser a melhor rede de drogarias do RN tendo seu diferencial reconhecido por todos que dela usufruem.
                            Nossa premissa básica é agir no desenvolvimento de um plano estratégico galgado na honestidade de
                            propósitos e coerência, sendo sustentada no compromisso consigo própria de respeito ao direito das
                            pessoas à saúde. Perseguimos a excelência no atendimento, não apenas no que se refere à capacitação
                            e cordialidade de nossos funcionários, mas principalmente no desejo de atender todas as necessidades
                            do consumidor, sempre garantindo a não falta de seus produtos.
                        </p>
                    </div>
                </div>

                <!-- VALORES -->
                <div class="col-md-4">
                    <div class="mvv-item">
                        <h4><i class="bi bi-gem"></i> VALORES</h4>
                        <ul>
                            <li>Prestação de serviços éticos.</li>
                            <li>Satisfação total dos consumidores com atenção aos detalhes.</li>
                            <li>Manutenção de relações com clientes e colaboradores de forma transparente.</li>
                            <li>Respeito à prescrição médica.</li>
                            <li>Contribuição dentro do segmento para o desenvolvimento e sustentabilidade econômica, social e ambiental.</li>
                            <li>Excelência e personalização no atendimento.</li>
                            <li>Trabalho em equipe, consistente e focado para crescer com qualidade.</li>
                            <li>Responsabilidade social.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
